
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

form{
  display: flex;
    flex-direction: column;

    gap: 15px;
    width: 60%;
    max-width: 500px;

    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 10px; 
    background-color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form textarea, input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
   
}

form  textarea {
     resize: vertical;

    min-height: 100px; 
 
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 30%;
}

.correct {
    font-family: Arial, sans-serif;
    background-color: chartreuse;
} 